<br>
<h1 style="text-align: center;">Simple Blog!!</h1>
<h3 style="text-align: center;"><%= link_to "Novo post", new_post_path %></h3>
<hr>
<% @posts.reverse_each do |post| %>

	<% if post==@posts.last %>	
			<h2 style="text-align: center;"><%=t '.title', :default => post.title.titleize %></h2>
			<br>
		<%= link_to(post_path(post)) do %>
			<div style="text-align: center;"><%= image_tag post.avatar.url(:thumb) %></div>
			<br> 
	<% end %>
	<hr>
	<%= link_to "Post completo.", post_path(post) %>
	<% else %>
		<ul>
			<li>
				<h3><%= link_to link_to post.title, post_path(post) %></h3>
			</li>
		</ul>
	<% end %>
<% end %>
