<%- model_class = Post -%>
<div class="page-header">
  <h1 style="text-align: center;"><%=t '.title', :default => @post.title.titleize %></h1>
</div>

<% if @post.avatar? %>
	<br>
	<div style="text-align: center;"><%= image_tag @post.avatar.url(:cover) %></div>
	<br>
<% end %>

<%= simple_format(@post.content) %>

<br>
<br>
<strong>Key-words: <%= @post.key_words %></strong>
<br>
<hr>

<%= link_to t('.back', :default => t("helpers.links.back")),
              root_path, :class => 'btn btn-default'  %>
